.messageInputDiv {
  // border: 1px solid black;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  background: #483c46;
  color: #beee62;
  border-radius: 12px;
  position: fixed;
  z-index: 1;
  width: 90vw;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 25px;
}

.messageInputTextarea {
  background: #483c46;
  color: #beee62;
  width: 80%;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 25px;
}

.dropzone {
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  outline: none;
  cursor: pointer
}

.preview {
  margin-bottom: 12px;
}

.fa-window-close {
  transform: translateY(8px) translateX(-12px);
}

.autocomplete {
  position: fixed;
  z-index: 5;
  width: 100px;
  background: #483c46;
  color: #beee62;
  transform: translateX(75vw);
  bottom: 100px;
  padding: 10px;
  border-radius: 12px;
  opacity: 0.8;
  transition: all var(--speed) ease;
  animation-name: fade2;
  animation-duration: 0.3s;
  };
  
  @keyframes fade2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  };

.autocomplete:hover {
  opacity: 1.0;
}

.autocompleteList > li:hover {
  filter: brightness(2.3)
}

.autocomplete > p {
  padding: 0px;
  margin: 0px auto;
}

.alert {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 100px;
}