.yourPlace {
  top: 0;
  width: 100vw;
  height: 600px;
  background: linear-gradient(#2a5ee8, #00b0f4);
  overflow: hidden;
  padding-left: 10px;
  transform: translateX(-10px) translateY(-10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.yourText {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  margin-left: 10px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.yourText > h3 {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
}

.yourText > h1 {
  text-align: center;
  font-weight: 600;
  font-size: 56px;
}
