.chatMessages {
  min-width: 100%;
  min-height: 90vh;
  overflow: scroll;
  border: none;
  background: #fff;
}


#messagePad {
  padding: 50px;
}

.chatComponentDiv {
  box-sizing: border-box;
  height: 90%;
  color: black;
  width: 90%;
  margin: 5%;
  padding: 3%;
}

.message {
  font-size: 14px;
  font-weight: 100;
}

.divImage {
  margin: auto;

}

.messageImg {
  width: 175px;
  max-height: 400px;
  transform: translateX(100%)
}

.messageOrigin {
  
}