.chatMessages {
  min-width: 100vw;
  min-height: 90vh;
  overflow: scroll;
  border: none;
  background: #fff;
}


#messagePad {
  padding: 50px;
}

.chatComponentDiv {
  box-sizing: border-box;
  height: 90%;
  color: black;
  width: 90%;
  margin-left: 5%;
  padding: 15px;
}

.post:hover {
  background: #efefef
}

.message {
  font-size: 14px;
  font-weight: 100;
  display: flex;
  flex-direction: column;

}

.divImage {
  margin: auto;

}

.postInfo {
  display: flex;
  flex-direction: row;
}

.messageImg {
  width: 400px;
  max-height: 400px;
}

.messageOrigin {
  font-size: 18px;
  font-weight: bold;
  color: #f4743b
}

.messageTime {
  font-size: 8px;
  margin: 10px;
}

.messageText {
  font-size: 18px;

}