.chatPage {
//	display: flex;
	flex-direction: column;
	width: 90%;
	max-height: 80vh;
	gap: 0;
	margin: auto;
	overflow: none;
}

.messageContainer {
	overflow: scroll;
	// height: fit-content;
	// transform: translateY(50px);
	margin: auto;
	height: 100%;
	width: 100%;
}
