.nav-div {
	color: var(--color-main);
}

.navItem {
	display: flex;
	justify-content: flex-start;
}

.nav-item svg {
	position: fixed;
	z-index: 4;
	width: 32px;
	height: 32px;
	transform: translateX(10px);
	transition: transform var(--speed) ease;
}

.icon-button-flip svg {
	transform: rotate(0.5turn) translateX(-10px);
}

#profile {
	border-right: var(--border);
}

.nav-div {
	margin: 3px 10px;
	/* transform: translateX() */
}

.dropdown {
	position: fixed;
	z-index: 4;
	animation: fadeIn 0.3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-500px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.dd {
	position: absolute;
	width: 300px;
	top: 48px;
	transform: translateX(-0px);
	color: var(--color-main);
	background: var(--highlight);
	overflow: scroll;
	z-index: 4;
	transition: height var(--speed) ease;
	overflow: hidden;
	font-size: 18px;
	font-weight: 400;
	max-height: 730px;
	border-radius: 4px;
}

.dd > p {
	margin-left: 10px;
	font-weight: 100;
	font-size: 18px;
}

.item {
	transition: all var(--speed);
	color: var(--color-main);
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0px 8px;
}

.menu-primary-enter {
	position: absolute;
	/* transform: translateX(110%);  */
	opacity: 0;
}

.menu-primary-enter-active {
	/* /* transform:translateX(0%); */
	opacity: 1;
	transition: all var(--speed) ease;
}

.menu-primary-exit {
	position: absolute;
	opacity: 1;
}

.menu-primary-exit-active {
	/* transform: translateX(110%); */
	opacity: 0;
	transition: all var(--speed) ease;
}

.menu-secondary-enter {
	position: absolute;
	transform: translateX(-110%);
}

.menu-secondary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}

.menu-secondary-exit {
	position: absolute;
}

.menu-secondary-exit-active {
	transform: translateX(-110%);
	transition: all var(--speed) ease;
}

.dropdown-item {
	display: flex;
	justify-content: space-between;
}

.dropdown-item:hover {
	background: var(--bg);
}

.menu-item:hover {
	background: var(--bg);
}

.cat-menu > i {
	padding-right: 8px;
}
