@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.userCard {
  width: 400px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  animation-name: fade;
  animation-duration: 0.6s;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  margin: 0;
  border: 1px solid var(--highlight);
}

.leftCard {
  background: var(--highlight);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.rightCard {
  width: 200px;
  height: 150px;
  background: var(--bars);
}

.bioDiv {
  box-sizing: border-box;
  margin-left: 8px;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  transform: translateY(-10px);
}

.cardBackground {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.cardImg {
  height: 120px;
  width: 120px;
  border-radius: 10%;
}

.cardText {
  color: var(--color-accent);
  font-weight: 800;
  font-size: 18px;
  margin: 10px;
  align-items: center;
}
